.odd{
    background-color: rgb(239, 148, 148);
    font-family:' Verdana', DejaVu Sans, sans-serif;
}

#second{
    color: rgb(62, 62, 224);
    font-size: 36px;
}

.third{
    font-size: 24px;
}

#fourth{
    background-color: rgb(125, 234, 127);
    font-size: 24px;
    font-weight: bold;
}